.Illustration-1-hex { color: #63A674; }
.Illustration-2-hex { color: #F2BE5C; }
.Illustration-3-hex { color: #F2D091; }
.Illustration-4-hex { color: #F2A88D; }
.Illustration-5-hex { color: #D94E4E; }

body {
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background-color: #F2D091; */
}

header.navbar {
    /* border:4px solid red; */
    padding: 1em;
    /* border: 4px solid black; */
    background-color: #fcee23;
}


main {
    margin: 1em 1.67em
}

nav.breadcrumb {
    margin: 0;
    background-color: #f7e90f;
}

nav.breadcrumb > ul.breadcrumb {
    margin-left: 1.67em; 
}

li.menu-item {
    white-space: nowrap;
}