{% extends "_layouts/_default.html" %}

{% block title %} home {% endblock %} 

{% block linktags %}
<meta name="description" content="hci cloud" /> 
{% endblock %}

{% block content %}

<main>
    <h2>Contact us</h2>

    <p>
        For any issues/questions and consultation, you can contact me using my email <a href="mailto:zhixian@hotmail.com">zhixian@hotmail.com</a>
    </p>

</main>

<footer>
    
</footer>
{% endblock %}


{% block scripts %}

<script type="text/javascript">
(function() {
    "use strict";
}());
</script>

{% endblock %}